
body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

/* This is the main container, where all quiz content is nested in */
.mainContainer {
    width: 100%;
    text-align: center;
}

/* This is where all questions and answers are displayed */
.questionContainer {
    width: 30%;
    margin: 0 auto;
}

/* This is where the picture and buttons are nested */
.picContainer {
    position: relative;
}

/* Buttons! */
#playGame {
    font-family: 'Odibee Sans', cursive;
    background-color: rgb(138, 136, 136);
    border: none;
    position: absolute;
    left: 25%;
    bottom: 50%;
}

#highScores {
    font-family: 'Odibee Sans', cursive;
    background-color: rgb(138, 136, 136);
    border: none;
    position: absolute;
    right: 25%;
    bottom: 50%;
}

.answerBtn {
    font-family: 'Odibee Sans', cursive;
    font-size: 18px;
}

/* This is the id selector for the question */
#question {
    color: white;
    font-size: 20px;
    text-align: left;
}

/* This is the id selector for the answers */
#answers {
    padding-left: 0;
}

/* id selector for the "correct!" or "wrong" */
#answerResult {
    font-size: 20px;
    color: white;
}

/* This is the main quiz timer */
#timeRemaining {
    color: white;
    font-size: 20px;
}

#quizEnd {
    color: white;
    font-size: 30px;
}

#quizEndScore {
    color: white;
    font-size: 20px;
}

.userSubmit {
    margin-left: 5px;
}

.submittedText {
    color: white;
    font-size: 20px;
}

.playAgain {
    margin-top: 20px;
    margin-right: 20px;
}

.homePage {
    margin-left: 20px;
}

#homeScreenImage {
    width: 80%;
    height: auto;
    opacity: .85;
}

#startTimer {
    font-size: 50px;
    color: white;
}

/* Media queries for responsiveness */

@media only screen and (min-width: 600px) {
    #highScores {
        font-size: 15px;
    }

    #playGame {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    #highScores {
        font-size: 18px;
    }

    #playGame {
        font-size: 18px;
    }
}

@media only screen and (min-width: 9920x) {
    #highScores {
        font-size: 19px;
    }

    #playGame {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1200px) {
    #highScores {
        font-size: 21px;
    }

    #playGame {
        font-size: 21px;
    }
}